# Compiled java class file
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# intellij files
.idea/
*.iml

*.backup
out/

*~

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# Locally stored "Eclipse launch configurations"
*.launch

# Eclipse JDT-specific (Eclipse Java Development Tools)
.classpath

# Eclipse Code Recommenders
.recommenders/

